#img-movies {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#container-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@media (max-width:576px) {
  #img-movies {
    height: 150px;
    transition: 0.3s;
    max-width: 100%;

  }
  .card-title{
    font-size: 17px;

  }
  .card-subtitle{
    font-size: 13px;
  }
}